:host {
  display: block;
  margin: 2em;
}

.app-image {
  padding: 15px;
  border: 3px solid #EEE;
  border-radius: 3px;
  vertical-align:middle;
}

.vendor-box {
  display:inline-block;
  vertical-align:middle;
}

.info-box {
  display:inline-block;
  vertical-align:top;
  margin:1em;
}

.item {
  margin-bottom: 42px;
  border: 1px solid #EBEBEB;
  padding: 20px;
  background-color: #FBFBFB;
  -moz-box-shadow: 0 5px 5px -3px #b5b5b5;
  -webkit-box-shadow: 0 5px 5px -3px #B5B5B5;
  box-shadow: 0 5px 5px -3px #B5B5B5;
}

.app-title {
  font-weight: 300;
}
